.tapswap-coin {
  position: absolute;
  display: inline-block;
  animation-name: bounce;
  animation-duration: 2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bounce {
  0% {
    top: 90%;
  }
  100% {
    top: 10%;
  }
}